<body>
<h1>Welcome to Meteor!</h1>
{{> layout}}
</body>

<template name="layout">
    <div id="wrapper">
        <div class="cart-icon-top">
        </div>

        <div class="cart-icon-bottom">
        </div>

        <div id="checkout">
            CHECKOUT
        </div>

        <div id="header">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">BRANDS</a></li>
                <li><a href="">DESIGNERS</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </div>

        <div id="sidebar">
            <h3>CART</h3>
            <div id="cart">
                <span class="empty">No items in cart.</span>
            </div>

            <h3>CATEGORÍAS</h3>
            <div class="checklist categories">
                <ul>
                    <li><a href="">Novedades</a></li>
                    <li><a href="">Cadenas</a></li>
                    <li><a href="">Collares</a></li>
                    <li><a href="">Pulseras</a></li>
                    <li><a href="">Anillos</a></li>
                </ul>
            </div>

       </div>


    {{> yield}}
    </div>

</template>

<template name="menu">
    <li>
        <a href="{{pathFor 'signin'}}"><span class="fa fa-user fa-lg">  Ingresar</span></a>
    </li>
    <li>
        <a href="{{pathFor 'signup'}}"><span class="fa fa-user-plus fa-lg"> Registrar</span></a>
    </li>
    <li>
        <a href="sass.html"><span class="fa fa-shopping-cart fa-lg"> Compras</span></a>
    </li>
</template>